@import "../common/head.less";
@import "../common/content.less";
@import "../common/foot.less";
.nb-head {
    background-image: url("../image/title-news.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nb-page-news {
    .news-content {
        margin: 80px 0px 150px 0px;
        .study-list {
            margin-bottom: 50px;
            .study-title {
                font-family: MicrosoftYaHei;
                font-size: 38px;
                color: #0C253D;
                letter-spacing: 0;
            }
            .study-media {
                display: flex;
                .study-media-player {
                    border-radius: 4px;
                    flex: auto;
                    width: 700px;
                    height: 448px;
                    img {
                        width: 100%;
                    }
                }
                .study-media-list {
                    overflow: auto;
                    height: 448px;
                    width: 450px;
                    .study-media-items {
                        margin: 0px 35px 0px 35px;
                        overflow: hidden;
                        .study-media-item {
                            border-radius: 4px;
                            img {
                                margin-bottom: 10px;
                                width: 220px;
                                height: 136px;
                            }
                        }
                    }
                    .study-media-pagination {}
                }
            }
        }
        .message-list {
            .message-title {
                font-family: MicrosoftYaHei;
                font-size: 38px;
                color: #0C253D;
                margin-bottom: 30px;
                letter-spacing: 0;
            }
            .message-item {
                margin-bottom: 30px;
                display: flex;
                .message-item-image {
                    flex-basis: 382px;
                    text-align: center;
                    border: 0 solid #EEEEEE;
                    box-shadow: 0 10px 30px 5px rgba(13, 36, 62, 0.05);
                    border-radius: 2px;
                    img {
                        border: 0;
                        width: 380px;
                        height: 243px;
                    }
                }
                .message-item-text {
                    margin-left: 30px;
                    flex: auto;
                    .message-item-title {
                        font-family: MicrosoftYaHei;
                        font-size: 38px;
                        color: #0C253D;
                        letter-spacing: 0;
                        line-height: 1.5em;
                    }
                    .message-item-time {
                        font-family: MicrosoftYaHei;
                        font-size: 22px;
                        color: #0D253E;
                        letter-spacing: 0;
                        line-height: 1.5em;
                    }
                    .message-item-content {
                        opacity: 0.4;
                        font-family: MicrosoftYaHei;
                        font-size: 22px;
                        color: #0D253E;
                        letter-spacing: 0;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}