@import "../common/head.less";
@import "../common/content.less";
@import "../common/foot.less";
.nb-head {
    background-image: url("../image/title-news.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nb-content .nb-content-row {
    max-width: 1000px;
    margin: auto;
}

.nb-page-news {
    .news-content {
        margin: 80px 0px 150px 0px;
        .study-list {
            margin-bottom: 80px;
            .study-title {
                font-family: "Microsoft YaHei";
                font-size: 38px;
                color: #0C253D;
                letter-spacing: 0;
                margin-bottom: 50px;
            }
            .study-media {
                display: table;
                width: 100%;
                .study-media-player {
                    display: table-cell;
                    vertical-align: top;
                    border-radius: 4px;
                    width: 700px;
                    height: 448px;
                    overflow: hidden;
                    .first-item {
                        width: 700px;
                        height: 448px;
                        position: absolute;
                        border-radius: 5px;
                        overflow: hidden;
                        .video-image {
                            top: 0px;
                            left: 0px;
                            width: 700px;
                            height: 448px;
                        }
                        .video-play {
                            position: absolute;
                            top: 120px;
                            left: 280px;
                            width: 144px;
                            height: 144px;
                            border-radius: 50%;
                            background: url('../image/video-play.png') no-repeat;
                            background-size: cover;
                            cursor: pointer;
                        }
                        .video-title {
                            height: 88px;
                            bottom: 0px;
                            position: absolute;
                            background: rgba(0, 0, 0, 0.50);
                            font-family: "Microsoft YaHei";
                            font-size: 24px;
                            color: #FFFFFF;
                            letter-spacing: 0;
                            line-height: 88px;
                            padding: 0px 30px;
                            overflow: hidden;
                            width: 100%;
                            &:hover {
                                text-shadow: 0 10px 30px 5px rgba(13, 36, 62, 0.05);
                            }
                        }
                    }
                }
                .study-media-list {
                    overflow: auto;
                    height: 448px;
                    width: 300px;
                    overflow: auto;
                    .study-media-items {
                        margin: 0px auto;
                        overflow: hidden;
                        width: 220px;
                        .study-media-item {
                            border-radius: 4px;
                            width: 220px;
                            margin: 0 auto;
                            cursor: pointer;
                            img {
                                margin-bottom: 15px;
                                width: 220px;
                                height: 136px;
                                cursor: pointer;
                            }
                        }
                    }
                    .study-media-pagination {}
                }
            }
        }
        .message-list {
            margin-top: 40px;
            .message-title {
                font-family: "Microsoft YaHei";
                margin-bottom: 50px;
                color: #0C253D;
                letter-spacing: 0;
            }
            .message-item {
                margin-bottom: 40px;
                display: table;
                width: 100%;
                .message-item-image {
                    display: table-cell;
                    vertical-align: middle;
                    width: 382px;
                    min-height: 245px;
                    text-align: center;
                    border: 0 solid #EEEEEE;
                    border-radius: 2px;
                    img {
                        border: 0;
                        width: 380px;
                        max-height: 243px;
                        &:hover {
                            box-shadow: 0 10px 30px 5px rgba(13, 36, 62, 0.05);
                        }
                    }
                }
                .message-item-text {
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 70px;
                    .message-item-title {
                        font-family: "Microsoft YaHei";
                        font-size: 24px;
                        color: #0C253D;
                        letter-spacing: 0;
                        line-height: 1.2em;
                        margin-bottom: 10px;
                        text-align: justify;
                        &:hover {
                            text-shadow: 0 10px 30px 5px rgba(13, 36, 62, 0.05);
                        }
                    }
                    .message-item-time {
                        font-family: "Microsoft YaHei";
                        font-size: 22px;
                        color: #0D253E;
                        letter-spacing: 0;
                        line-height: 1.5em;
                    }
                    .message-item-content {
                        opacity: 0.4;
                        font-family: "Microsoft YaHei";
                        font-size: 18px;
                        color: #0D253E;
                        letter-spacing: 0;
                        line-height: 30px;
                        text-align: justify;
                    }
                }
            }
        }
    }
}